<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate My Professor Dashboard</title>
    <!-- Imports for jQuery UI components and event handling -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Plotly.js -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- TailwindCSS -->
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet"> <!-- AOS Animation CSS -->
    <!-- CSS for autocomplete -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/autocomplete.css') }}">
    <!-- The code lands below when this template is used-->
    {% block head%}{% endblock %}
</head>

<body>
    <!-- Using a consistent background gradient and centering the content -->
    <div class="min-h-screen bg-gradient-to-br from-[#60B5FF] to-[#AFDDFF] flex items-center justify-center p-8">
        <!-- Drop shadow and make the box animated on page load   -->
        <div class="bg-[#FFECDB] p-10 rounded-3xl shadow-2xl w-full" data-aos="zoom-in">
            {% block body%}{% endblock %}


</body>

<!-- Initializing animate on scroll for page animations-->
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>