{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block body %}
  <h2>Average Instructor Ratings by School</h2>

  <input
    id="school-search"
    placeholder="Type a university name..."
    style="width: 300px; padding: 8px;"
  />

  <div id="plot" style="width:100%;max-width:900px;margin:auto; padding-top: 40px;"></div>

  <script>
    $(function () {
      $("#school-search").autocomplete({
        source: "/autocomplete",
        minLength: 2,
        select: function (event, ui) {
          const schoolName = ui.item.value;
          console.log("User selected:", schoolName);

          $.getJSON("/school_plot", { school_name: schoolName }, function (data) {
            if (data.graphJSON) {
              const plotData = JSON.parse(data.graphJSON);
              Plotly.newPlot("plot", plotData.data, plotData.layout);
            } else {
              $("#plot").html("<p>No data available for this school.</p>");
            }
          });
        }
      });
    });
  </script>



{% endblock %}
