{% extends "base.html" %}

{% block head%}
<h1>Header Stuff</h1>

{% endblock %}

{% block body%}
<h1>Body Stuff</h1>

<form method="GET" action="/search">
  <label for="school-select">Select a school:</label>
  <select id="school-select" name="school_id" onchange="this.form.submit()">
    <option value="" disabled selected>Choose a school</option>
    {% for school in schools|sort(attribute='school_name') %}
    <option value="{{ school.school_id }}">{{ school.school_name }}</option>
    {% endfor %}
  </select>
</form>

{% endblock %}